In [2]:
import numpy as np 
from sklearn.datasets import fetch_california_housing
from sklearn import linear_model
from sklearn.cross_validation import train_test_split
from IPython.display import clear_output, Image, display, HTML
import pandas as pd 

dataset = fetch_california_housing(data_home='./')
print("Shape of dataset:", dataset.data.shape)
print("Shape of label:", dataset.target.shape)

#X_org, Y_org = dataset.data, dataset.target
df_x=pd.DataFrame(dataset.data,columns=dataset.feature_names)
df_y=pd.DataFrame(dataset.target)

E:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
Downloading Cal. housing from https://ndownloader.figshare.com/files/5976036 to C:\SPB_Data\scikit_learn_data

Shape of dataset: (20640, 8)
Shape of label: (20640,)

In [1]:
print( dataset.data[1][0:8])
print( dataset.target[1])

NameError: name 'dataset' is not defined

In [22]:
df_x.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [31]:
df_y.describe()

                  0
count  20640.000000
mean       2.068558
std        1.153956
min        0.149990
25%        1.196000
50%        1.797000
75%        2.647250
max        5.000010

In [23]:
reg = linear_model.LinearRegression()

In [24]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=4)

In [25]:
x_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
4520,1.0333,18.0,3.651376,1.041284,547.0,2.509174,34.04,-118.20
29,1.6875,52.0,4.703226,1.032258,395.0,2.548387,37.84,-122.28
7341,2.6300,29.0,3.496212,1.003788,2576.0,4.878788,33.97,-118.14
1067,3.4191,52.0,4.530612,0.816327,1107.0,11.295918,39.73,-121.85
5084,1.4042,46.0,4.401575,1.181102,786.0,3.094488,33.98,-118.29

In [26]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
reg.coef_

array([[  4.36566858e-01,   9.37331719e-03,  -1.09689383e-01,
          6.25836146e-01,  -5.45292404e-06,  -3.49194521e-03,
         -4.24368841e-01,  -4.38492195e-01]])

In [30]:
reg.intercept_

array([-37.27150063])

In [48]:
print( np.sum(dataset.data[0][0:8]*reg.coef_)+reg.intercept_)

[ 4.13309387]

In [28]:
# predict the house prices.
reg.predict(x_test)

array([[ 2.06302041],
       [ 2.50552547],
       [ 1.61461714],
       ...,
       [ 1.88260187],
       [ 2.39154106],
       [ 0.30191159]])

In [29]:
#mean square error 
np.mean((reg.predict(x_test) - y_test)**2)

0    0.525009
dtype: float64